# Android
*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build
/app/build/
/captures
.externalNativeBuild
.cxx
local.properties

# Python
__pycache__/
*.py[cod]
*$py.class
server/venv/
server/.env
*.egg-info/

# IDE
*.swp
*.swo
*~
